.animation-cointeiner
  .height-full.animation-clip
    img.animatio-element.animation-bg(src='assets/img/ani-halftone.svg', width="100%")
    img.animatio-element.animation-factory(src='assets/img/ani-fabryka.svg', width="100%")
    img.animatio-element.animation-2plan(src='assets/img/ani-2plan.svg', width="100%")
    img.animatio-element.animation-1plan(src='assets/img/ani-1plan.svg', width="100%")
  .animation-button.center-container.center-container--full
    .center-col.animation-popup
      .container
        .row
          .col-xs-12.col-sm-10.col-sm-offset-1.col-md-12.col-md-offset-0.col-lg-10.col-lg-offset-1.text-center#joke-hide
            h2 Are you over the age of 21? 
            p.margin-bottom-m We need to know.
            a#yes21.btn.btn-lg.btn-outline.btn-outline-full Yes
            a#no21.btn.btn-lg.btn-outline.btn-outline-full.margin-left-m No
          #joke.col-xs-12.col-sm-10.col-sm-offset-1.col-md-12.col-md-offset-0.col-lg-10.col-lg-offset-1.text-center.display-none
            h2 If you're under the age of 21 and female please contact: 
            .photo(style="background-image: url('assets/img/joke1.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")