extend ./base/layout-main
block pageContent
  include ./main/main.jade
  include ./main/tradition.jade
  include ./CTA/CTA-1.jade 
  include ./main/ingredients.jade 
  include ./CTA/CTA-2.jade 
  include ./main/bottles.jade 
  include ./main/about.jade