footer#footer.padding-top-s.padding-bottom-s.bg-primary.color-white
  .container
    .row.center-container
      .col-xs-10.col-xs-offset-1.col-sm-4.col-sm-offset-0.col-lg-4.col-lg-offset-1.center-col
        a.color-white(href="index.html")
          h4.margin-top-none Perla Brewery
        ul.list-unstyled
          li
            a.color-white(href="history.html") Heritage and History of Our Brewery
          li.padding-top-xxs
            a.color-white(href="homeland.html") Homeland of Perła Beer 
          li.padding-top-xxs
            a.color-white(href="beer.html") How We Make Our Beer
          li.padding-top-xxs
            a.color-white(href="contact.html") Contact
      .col-xs-10.col-xs-offset-1.col-sm-4.col-sm-push-4.col-sm-offset-0.col-lg-4.col-lg-push-2.text-right-sm.top-col
        .hidden-sm.hidden-md.hidden-lg.padding-top-s
        b.lead(itemprop="brand") Perła – Browary Lubelskie S.A.
        p.padding-top-xxs
          b.text-uppercase Europe: 
          a.color-white(href="tel:+48668515171") +48 668 515 171 
        p
          b.text-uppercase USA: 
          a.color-white(href="tel:+13026606315") +1 302 660 6315
        ul.list-unstyled.list-inline.padding-top-xs
          li
            a.link-transperent--white(href="https://www.facebook.com/browary.perla/", target="_blank")
              i.icon.icon-m.icon_facebook
          li
            a.link-transperent--white(href="https://www.instagram.com/browarperla/", target="_blank")
              i.icon.icon-m.icon_instagram
          li
            a.link-transperent--white(href="https://www.youtube.com/channel/UCT3-2ftHqgFBvxWSRGMigYA", target="_blank")
              i.icon.icon-m.icon_youtube
      .col-xs-8.col-xs-offset-2.col-sm-4.col-sm-pull-4.col-sm-offset-0.col-lg-2.col-lg-pull-4.center-col
        .hidden-sm.hidden-md.hidden-lg.padding-top-s
        img.footer-image(src='assets/img/img-herb.svg', width="100%")
