header#distributor
  .container.padding-top-xxl.padding-bottom-xxl
    .row
      .col-xs-12
        .padding-top-l.hidden-xs.hidden-sm
        .jumbotron.text-center
          h1 We export our beer to
          p.margin-top-xxs.text-uppercase Europe, North and South America, Asia, Africa and Australia
        .padding-bottom-xl.hidden-xs.hidden-sm