block headVars

  - mainPage = {}
  - mainPage.title = 'Perla Beer with tradition from Poland'
  - mainPage.desc = 'Established in 1846 and based in Lublin, the Perla Brewery is Poland’s largest independent brewery. We think of ourselves as the last real Polish brewery. Poland Perla is in the heart of the source of the world-famous Lublin (saaz) hops. Perla draws its water from deep-water Oligocene wells in the least-industrialized region of Europe. The end result is a beer with excellent clarity combining a hoppy odor with slight bitterness.'


  - headArray = [mainPage]

block htmlContent
  div Default html content