section#countryside.padding-top-xl
  .container
    .row.center-container
      .col-xs-12.col-md-6.col-md-offset-3.center-col
        img.center-col(src='assets/img/img-lublin13.jpg', alt='Countryside - Lublin', width="100%")
    .row
      .col-xs-10.col-xs-offset-1
        h1.special-h1.padding-bottom-m.text-center.margin-top-none Medieval city
      .col-xs-12.col-md-12.text-justify.center-col
        p.lead Lublin is the ninth largest city in Poland. It is the capital and the center of Lubin Voivodoship (province) with a population of 349,103 (March 2011). Lublin is the largest Polish city east of the Vistula  River and is approximately 170 kilometres (106 miles) to the southeast of Warsaw by road.
    .row.center-container
      .col-xs-12.col-sm-12.col-md-5.col-md-offset-0.col-md-push-7.center-col
        img.center-col(src='assets/img/img-lublin3.jpg', alt='Map of World with Lublin Poland indicated', width="100%")
      .col-xs-12.col-md-7.col-md-offset-0.col-md-pull-5.text-justify.center-col
        p.lead One of the events that greatly contributed to the city's development was the Polish-Lithuanian Union of Krewo in 1385. Lublin thrived as a center of trade and commerce due to its strategic location on the route between Vilnus and Krakow; the inhabitants had the privilege of free trade in the Grand Dutchy of Lithuania. The Lublin Parliament session of 1569 led to the creation of a real union between the Crown of the Kingdom of Poland and the Grand Duchy of Lithuania, thus creating the Polish-Lithuanian Commonwealth. Lublin witnessed the early stages of Reformation in the 16th century. A Calvinist congregation was founded and groups of radical Arians appeared in the city, making it an important global centre of Arianism. At the turn of the centuries, Lublin was recognized for hosting a number of outstanding poets, writers and historians of the epoch.
    .row.padding-bottom-m
      .col-xs-12.col-md-12.text-justify.center-col
        p.lead Until the partitions at the end of the 18th century, Lublin was a royal city of the Crown Kingdom of Poland. Its delegates and nobleshad the right to participate in the Royal Election. In 1578 Lublin was chosen as the seat of the Crown Tribunal, the highest appealcourt in the Polish–Lithuanian Commonwealth, and for centuries the city has been flourishing as a centre of culture and higher learning, with Kraków, Warsaw, Poznań and Lwów.
section.center-container
  video.hidden-xs.hidden-sm(autoplay='', loop='', muted='', poster='assets/img/img-lublin1.jpg', width="100%")
    source(src='assets/video/video-lublin-dron-sample.mp4', type='video/mp4')
  video.hidden-xs.hidden-md.hidden-lg(autoplay='', loop='', muted='', poster='assets/img/bg-video-sm.jpg', width="100%")
    source(src='assets/video/video-lublin-dron-sample.mp4', type='video/mp4')
  video.hidden-sm.hidden-md.hidden-lg(autoplay='', loop='', muted='', poster='assets/img/bg-video-xs.jpg', width="100%")
    source(src='assets/video/video-lublin-dron-sample.mp4', type='video/mp4')