section#photos.padding-top-m
  .gallery-container
    .row.margin-none
      .col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-1.col-md-12.col-md-offset-0.padding-none
        .photo.photo--big(style="background-image: url('assets/img/img-lublin1.jpg')", alt='Figure showing the 18th century Lublin', width="100%")
      .col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-1.col-md-3.col-md-offset-0.padding-none
        .photo.photo--big(style="background-image: url('assets/img/img-lublin3.jpg')", alt='Figure showing the 18th century Lublin', width="100%")
        .photo(style="background-image: url('assets/img/img-lublin4.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
      .col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-1.col-md-3.col-md-offset-0.padding-none
        .photo(style="background-image: url('assets/img/img-lublin5.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
        .photo(style="background-image: url('assets/img/img-lublin6.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
        .photo(style="background-image: url('assets/img/img-lublin7.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
      .col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-1.col-md-3.col-md-offset-0.padding-none
        .photo(style="background-image: url('assets/img/img-lublin8.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
        .photo.photo--big(style="background-image: url('assets/img/img-lublin9.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
      .col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-1.col-md-3.col-md-offset-0.padding-none
        .photo(style="background-image: url('assets/img/img-lublin10.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
        .photo.photo--big(style="background-image: url('assets/img/img-lublin11.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
