section#photos
  .gallery-container
    .row.margin-none
      .col-xs-6.col-sm-3.col-md-3.col-md-offset-0.padding-none
        .photo.photo--big(style="background-image: url('assets/img/img-countryside24.jpg')", alt='Figure showing the 18th century Lublin', width="100%")
        .photo(style="background-image: url('assets/img/img-countryside19.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
      .col-xs-6.col-sm-3.col-md-3.col-md-offset-0.padding-none
        .photo(style="background-image: url('assets/img/img-countryside.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
        .photo(style="background-image: url('assets/img/img-countryside20.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
        .photo(style="background-image: url('assets/img/img-countryside16.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
      .col-xs-6.col-sm-3.col-md-3.col-md-offset-0.padding-none
        .photo(style="background-image: url('assets/img/img-countryside25.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
        .photo.photo--big(style="background-image: url('assets/img/img-countryside13.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
      .col-xs-6.col-sm-3.col-md-3.col-md-offset-0.padding-none
        .photo(style="background-image: url('assets/img/img-countryside17.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
        .photo.photo--big(style="background-image: url('assets/img/img-countryside23.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
