section#countryside.padding-top-s.padding-bottom-s
  .container
    .row.padding-bottom-m
      .col-xs-10.col-xs-offset-1
        h1.special-h1.text-center Purest Region in Europe
        .hidden-md.hidden-lg.padding-bottom-m
    .row.center-container
      .col-xs-12.col-sm-12.col-md-5.center-col
        img.center-col(src='assets/img/img-countryside2.jpg', alt='Countryside - Lublin', width="100%")
      .col-xs-12.col-md-7.text-justify.center-col
        .hidden-md.hidden-lg.padding-top-s
        p.lead The great city of Lublin is where we produce our beer. It is one of the 
         b least industrialized 
         | as well as 
         b purest 
         | regions of Europe. Located in the Southeastern part of Poland; most of the area's inhabitants still live in 
         b villages 
         | and are mainly engaged in 
         b agriculture. It's our way of life. More than 60% of the area is covered by 
         b forests
         | , fir and beech forests, peat bogs and 
         b wildlife 
         | are protected from human intervention in the Parks and reserves, 2 national parks and 17 landscape parks are located in the area.
    .row.center-container
     .col-xs-12.col-md-7.col-md-offset-0.text-justify.center-col
        h2.special-h1.padding-bottom-xxs Wildlife
        p.lead In one of Lublin's parks - live wild horses. These type of ponies, whose 
          b ancestors 
          | were tarpans, which are wild horses that inhabited forest areas of Europe. These horses live in the park in 
          b freedom
          | , without human intervention, where they retain their 
          b extraordinary 
          | features such as longevity, resistance to diseases, and 
          b natural beauty
          | . They are small animals with a bright black color, black fringes and tails, as well as stretched limbs and spines on their back.  
      .col-xs12.col-md-5.col-md-offset-0.center-col.hidden-xs.hidden-sm
        img.center-col(src='assets/img/img-countryside21.jpg', alt='Map of World with Lublin Poland indicated', width="100%")
    .row.center-container
      .col-xs-12.col-md-5.col-md-offset-0.center-col
        //img.center-col(src='assets/img/joke.jpg', alt='Map of World with Lublin Poland indicated', width="100%")
        img.center-col(src='assets/img/img-countryside22.jpg', alt='Map of World with Lublin Poland indicated', width="100%")
      .col-xs-12.col-md-7.col-md-offset-0.text-justify.center-col
        h2.special-h1.padding-bottom-xxs A European Capital of Culture
        p.lead Lublin a city that symbolizes European ideas of integration, universal heritage of democracy and tolerance, as well as an idea of the dialogue between the cultures of the West and East. Lublin is a unique place where many different cultures and religions meet. Here the East meets West, and the European Union meets Belarus and Ukraine. It is the perfect place for cooperation between European artists living within and outside the European Union. Lublin is a city open to artists, and a place where unique initiatives and activities come to life. Lublin has the experience of hundreds of years of rich history and cultural heritage which constitutes endless source of inspiration for new generations.