section#bottles.padding-top-m.padding-bottom-m
  .container
    .row
      .col-xs-10.col-xs-offset-1
        h1.special-h1.padding-bottom-s.text-center(itemprop='name') Perla Beer
    .row
      .col-xs-8.col-xs-offset-2.text-center
        p.lead Perla employs a traditional bottom-brewing process with cold 12.5°C water allowing the yeast cells to drop to the bottom for fermentation. Although this is a time-consuming brewing process, it ensures Perla’s consistent premium quality.
    .row.center-container
      .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.center-col
        img.center-col(src='assets/img/img-export.jpg', alt='Photo of Prela bottles', width="100%", itamprop="image")