header#main.position-relative.height-full.overflow-hidden
  video.video-main.hidden-xs.hidden-sm(autoplay='', loop='', muted='', poster='assets/img/bg-video-md2.jpg')
    source(src='assets/video/bg-main-md2.mp4', type='video/mp4')
  video.video-main.hidden-xs.hidden-md.hidden-lg(autoplay='', loop='', muted='', poster='assets/img/bg-video-sm2.jpg')
    source(src='assets/video/bg-main-sm2.mp4', type='video/mp4')
  video.video-main.hidden-sm.hidden-md.hidden-lg(autoplay='', loop='', muted='', poster='assets/img/bg-video-xs2.jpg')
    source(src='assets/video/bg-main-xs2.mp4', type='video/mp4')
  .container
    .row.center-container.center-container--full
      .col-xs-12.col-sm-10.col-sm-offset-1.col-md-12.col-md-offset-0.col-lg-10.col-lg-offset-1.center-col
        .jumbotron.text-center
          h1.jumbotron-special 
            a.color-white.link-simple(href="#tradition") Quality Brewing
          p.margin-top-xs.margin-bottom-m.text-uppercase.font-light Since 1846
  a.position-absolute.text-center.arrow-animation.link-simple(href="#tradition")
    i.icon.icon-l.icon_down-arrow.color-white