section#tradition.padding-top-m.padding-bottom-m
  .container
    .row
      .col-xs-12.padding-bottom-s
        h1.special-h1.text-center A European Tradition
    .row.center-container
      .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-0.center-col.text-center
        img.center-col(src='assets/img/img-herb.svg', alt='Map of World with Lublin Poland indicated', width="80%")
        .hidden-md.hidden-lg.padding-bottom-s
      .col-xs-12.col-md-6.text-justify.center-col(itemprop='description')
        p.lead Established in 1846 and based in Lublin, the Perla Brewery is Poland’s 
          b largest independent brewery. 
          | We think of ourselves as the 
          b last real Polish brewery. 
          | Poland Perla is in the heart of the source of the world-famous Lublin (saaz) hops. Perla draws its water from deep-water Oligocene wells in the least-industrialized region of Europe. 
          | The end result is a beer with 
          b excellent 
          | clarity combining a hoppy odor with slight bitterness.
    .row.center-container
      .hidden-xs.hidden-sm.padding-top-s
      .col-xs-12.col-sm-6.text-justify.center-col
        h1.special-h1.padding-bottom-s.text-center 170 years
        p.lead For over 
          b 170 years 
          | the brewery has been faced with and has survived many challenges to include two world wars and a dark post-war 45 years of nationalization by a communist regime; this speaks volumes for Polish pride and perseverance which filters through to both our team at the brewery and to our beverages.
        a.lead.link-underline(href="history.html") Read more about Our heritage
      .col-xs-12.col-sm-6.center-col
        img.center-col(src='assets/img/img-old-brewery.jpg', alt='Photo reconstruction of old brewery', width="100%")