header#beer
  .container.padding-top-xxl.padding-bottom-xxl
    .row
      .col-xs-12
        .padding-top-l.hidden-xs.hidden-sm
        .jumbotron.text-center
          h1 How we make our beer
          p.margin-top-xxs.text-uppercase Recipe
        .padding-bottom-xl.hidden-xs.hidden-sm