section#photos.padding-top-m
  .gallery-container
    .row.margin-none
      .col-xs-4.col-sm-4.col-md-4.padding-none.gallery-col
        .old-photo.old-photo--big(style="background-image: url('assets/img/img-history-barrels.jpg')", alt='Figure showing the 18th century Lublin', width="100%")
        .old-photo(style="background-image: url('assets/img/img-history-street3.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
        .old-photo(style="background-image: url('assets/img/img-history-brewhouse6.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
        .old-photo(style="background-image: url('assets/img/img-history-street.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
      .col-xs-4.col-sm-4.col-md-4.padding-none.gallery-col
        .old-photo(style="background-image: url('assets/img/img-history-brewhouse.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
        .old-photo(style="background-image: url('assets/img/img-history-brewhouse3.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
        .old-photo(style="background-image: url('assets/img/img-history-brewhouse4.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
        .old-photo(style="background-image: url('assets/img/img-history-brewhouse7.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
        .old-photo(style="background-image: url('assets/img/img-history-street2.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
      .col-xs-4.col-sm-4.col-md-4.padding-none
        .old-photo(style="background-image: url('assets/img/img-history-horse.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
        .old-photo(style="background-image: url('assets/img/img-history-factory.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
        .old-photo(style="background-image: url('assets/img/img-history-brewhouse5.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
        .old-photo.old-photo--big(style="background-image: url('assets/img/img-history-brewhouse8.jpg')", alt='Receipt for a Bavarian-style beer', width="100%")
