section#founders.padding-top-m.padding-bottom-s
  .container
    .row
      .col-xs-12.padding-bottom-s
        h1.special-h1.text-center Recipe
    .row.center-container
      .col-sm-3.col-md-3.top-col.hidden-xs
        img.center-col(src='assets/img/img-barley.svg', alt='Figure showing the 18th century Lublin', width="100%")
        .hidden-md.hidden-lg.padding-bottom-s
      .col-xs-12.col-sm-9.col-md-6.text-justify.center-col
        h3 1. Barley
        p.lead We start by selecting the best Polish barley, growing on natural fields. We process barley in Malthouse to produce malt which is one of the major ingredients in beer production. The appropriately prepared malt is moved to the brewery where the process of beer brewing begins. The fragmented malt is mixed with water and boiled. This is how the mash is created. Such a malt mash is called wort.
        h3.text-right.hidden-xs.hidden-sm 2. Hops
        p.lead.hidden-xs.hidden-sm It is actually the hops which give Perła beer its unique, unrivaled and precious bitterness. Wort is placed in the brew kettle where it is boiled with hops. Then the wort falls into a huge whirlpooling tank, where while it spins the denser solids are forced into a cone in the center and then settle at the bottom thus become separated from the hop wort. The resulting wort must be cooled to a temperature of approx. 12.5 OC.
      .col-xs-12.col-sm-9.col-md-6.text-justify.center-col.hidden-md.hidden-lg
        h3.text-right 2. Hops
        p.lead It is actually the hops which give Perła beer its unique, unrivaled and precious bitterness. Wort is placed in the brew kettle where it is boiled with hops. Then the wort falls into a huge whirlpooling tank, where while it spins the denser solids are forced into a cone in the center and then settle at the bottom thus become separated from the hop wort. The resulting wort must be cooled to a temperature of approx. 12.5 OC.
      .col-sm-3.col-md-3.bottom-col.text-center.hidden-xs
        img(src='assets/img/img-hop.svg', alt='Figure showing the 18th century Lublin', width="80%")
        .hidden-md.hidden-lg.padding-bottom-s
    .row.center-container
      .col-sm-3.col-md-3.top-col.text-center.hidden-xs
        img.center-col(src='assets/img/img-yeast.svg', alt='Figure showing the 18th century Lublin', width="60%")
        .hidden-md.hidden-lg.padding-bottom-s
      .col-xs-12.col-sm-9.col-md-6.text-justify.center-col
        h3 3. Yeast
        p.lead On the way, in sterile conditions, brewer’s yeast is added and then transferred to the fermentation tanks where wort is subjected to the alcohol fermentation process.
        h3.text-right.hidden-xs.hidden-sm 4. Ageing
        p.lead.hidden-xs.hidden-sm In the next step the newly made beer is transferred to the conditioning cellar where it slowly ages in the conditioning tanks. After conditioning the beer is filtered in order to achieve its appropriate polished shine and brilliance. We use diatomaceous earth for that. When leaving the fermentation tanks the beer goes through filtration in standard candle filters. Then the filtered beer is moved to the distribution tanks. The beer is kept here until it enters the bottling department, where it will finally be enclosed into a bottle, a can or a keg.
      .col-xs-12.col-sm-9.col-md-6.text-justify.center-col.hidden-md.hidden-lg
        h3.text-right 4. Ageing
        p.lead In the next step the newly made beer is transferred to the conditioning cellar where it slowly ages in the conditioning tanks. After conditioning the beer is filtered in order to achieve its appropriate polished shine and brilliance. We use diatomaceous earth for that. When leaving the fermentation tanks the beer goes through filtration in standard candle filters. Then the filtered beer is moved to the distribution tanks. The beer is kept here until it enters the bottling department, where it will finally be enclosed into a bottle, a can or a keg.
      .col-sm-3.col-md-3.bottom-col.text-center.hidden-xs
        img(src='assets/img/img-beer.svg', alt='Figure showing the 18th century Lublin', width="80%")
        .hidden-md.hidden-lg.padding-bottom-s
        