section#founders.padding-top-m
  .container
    .row
      .col-xs-12.padding-bottom-s
        h1.special-h1.text-center Heritage
    .row.center-container
      .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-0
        img.center-col(src='assets/img/img-history-figure.jpg', alt='Figure showing the 18th century Lublin', width="100%")
        .hidden-md.hidden-lg.padding-bottom-s
      .col-xs-12.col-md-6.col-md-offset-0.text-justify
        p.lead
          b The brewery 
          | was founded in the 
          b former monastery 
          | of the Reformed Fathers. Their Order of Reformed Fathers was brought to Lublin 
          b in 1660
          |. Helena Prusionowski Sapeżyna, Castellan Vilnius, gave them her palace along with gardens in the suburbs of Lublin. The monks built a modest church and a monastery. 
          b After 200 years
          |, the monks were forced to leave the monastery, which began to fall into ruin.
    .row.center-container.padding-top-s
      .col-xs-12.text-justify.center-col
        p.lead The abandoned ruins of the monastery of the Reforming Fathers at 15 Bernardyńska Street has attracted the attention of Poznan 
          b businessman Karol Rudolf Vetter
          |. He has envisioned a brewery on this site, which will one day produce beer appreciated not only in the Lubelski region but also 
          b beyond 
          | its 
          b borders
          |. Led by his intuition, he has bought the property for a mere 5000 zł and has settled in Lublin for good.
    .row.center-container
      .col-xs-12.col-md-6.col-md-offset-0.text-justify.center-col
        p.lead After renovations, Mr. Vetter has announced the official opening of the brewery. It has been producing 
          b Bavarian-style beer
          |, the brewing of which was based on a new fermenting technology (
          b bottom fermentation
          |). One of its attributes has been durability that allowed for easy transport, expanding the market beyond the region’s borders. The brewery, with its twin horse-powered turbines, has developed at rapid pace.
        p.lead The demand for beer from the Vetter’s brewery has been 
          b growing constantly 
          | and the brewery continued to expand and modernize. One of the major changes has been the introduction of the steam engine, which power allowed the brewery’s increase in production capacity.
      .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-0.center-col
        img.center-col(src='assets/img/img-history-receipt.jpg', alt='Receipt for a Bavarian-style beer', width="100%")
    .row.padding-top-s.center-container
      .col-xs-12.text-justify.center-col
        p.lead Karol Rudolf Vetter - the visionary behind the brewery and the builder of the 
          b family fortune 
          | - died in 1883. His death has been described in the regional newspapers in the following words: 
    .row.center-container.padding-top-s
      .col-xs-12.col-md-10.col-md-offset-1.text-justify.center-col
        p.lead
          i.quote-big “The deceased can serve as the paragon of hard work and determination, qualities rarely found in people. Having come into a large fortune, he has left it to his country and provided workplaces for his countrymen.” 
    .row.center-container.padding-top-s
      .col-xs-12.text-justify.center-col
        p.lead He has left his achievement - the brewery and the distillery - to 
          b his sons 
          | - August Karol and Juliusz Rudolf. Both sons have proven to be the worthy 
          b followers of their father 
          | - they have continued his work and have invested in the further development of the company. In 1892 brothers constructed a separate malthouse, where the barley malt production was carried out. The brewery of the Vetter family has been the first one in the Lublin region using that modern technology. 
    .row.center-container.padding-top-s
      .col-xs-6.col-sm-5.col-sm-offset-0.col-md-3.col-md-offset-2.center-col
        img.img-circle.center-col(src='assets/img/img-history-founder-august.jpg', alt='August Vetter - son of the founder', width="100%")
        h3.text-center August Vetter
      .col-xs-6.col-sm-5.col-sm-offset-2.col-md-3.col-md-offset-2.center-col
        img.img-circle.center-col(src='assets/img/img-history-founder-juliusz.jpg', alt='Juliusz Vetter - son of the founder', width="100%")
        h3.text-center Juliusz Vetter
    .row.center-container.padding-top-s
      .col-xs-12.text-justify.center-col
        p.lead Both sons, apart from work, have found time for social and charity activities. The sons founded the School of Commerce, a children’s hospital, the Lublin Museum and were members of Lublin Charity Society. August was also the the main benefactor of scholarships to the School of Commerce in Lublin. The two brothers bequeathed part of their fortunes to their employees.
    .row.padding-top-m.center-container
      .col-xs-12.col-sm-6.col-sm-offset-0.center-col
        img.center-col(src='assets/img/img-history-palac.jpg', alt="Vetter's Palce", width="100%")
        small.text-right Lublin WBP collection
        .hidden-sm.hidden-md.hidden-lg.padding-bottom-s
      .col-xs-12.col-sm-6.col-sm-offset-0.center-col
        img.center-col(src='assets/img/img-history-school.jpg', alt="Vetter's School of Commerce", width="100%")
        small.text-right Lublin WBP collection
    .row.center-container.padding-top-s
      .col-xs-12.text-justify.center-col
        p.lead The brewery remained in Vetter family until 1927 when 
          b senator 
          | Tadeusz Karszo-Siedlecki purchased the brewery and began selling the beer nationwide. After the tragic death of Tadeusz in defense of Warsaw in 1939, the brewery was inherited by his fiancé, 
          b prima ballerina 
          | Olga Prorubnikow-Sławska.
    .row.padding-top-m
      .col-xs-12.col-sm-4.col-md-3
        img.center-col(src='assets/img/img-history-olga.jpg', alt="Olga Prorubnikow-Sławska", width="100%")
        small.text-right Prima ballerina Olga Prorubnikow-Sławska
        br
        small.text-right National Digital Archives collection
      .col-xs-12.col-sm-8.col-md-9
        p.lead In 1940, Zakłady Przemysłowe K.R. Vetter was confiscated by the Third Reich. After Second World War brewery was nationalized and 
          b combined 
          | with nearby Browar Parowy Jeleń. They become a part of the Lubelskie Zakłady Piwowarsko-Słodownicze (Lublin Beer-Brewing-Malting Breweries).
        .padding-top-s.visible-md-block.visible-lg-block  
        p.lead After the fall of communism, the brewery was privatized. The PRL company became Perła Browary Lubelskie S.A (Perla - Lublin Breweries). The brewery Bernardyńska Street has been revitalized and offices, lofts and brewhouse. 
        .padding-top-s.visible-md-block.visible-lg-block 
        p.lead To breathe 
          b new life 
          | into the old production rooms, Perła Brewery Cellars were 
          b opened to visitors 
          | in 2014. Tourist can explore its nooks and crannies, discover the 
          b rich history 
          | of brewery and the events and figures related to it while learning about the production process and the ingredients for brewing beer. We have also added a unique tasting room in an area used as a storage cellar in the original layout of the brewery.
        