header#history
  .container.padding-top-xxl.padding-bottom-xxl
    .row
      .col-xs-12
        .padding-top-l.hidden-xs.hidden-sm
        .jumbotron.text-center
          //p.text-uppercase 
          h1.padding-left-s.visible-lg-block.margin-top-none Over 
            b.big 170
            |  years
          h1.hidden-lg Over 
            b.big 170
            |  years
          p.margin-top-xxs.text-uppercase Our Heritage and Tradition
        .padding-bottom-xl.hidden-xs.hidden-sm