section#about.padding-top-m
  .container
    .row
      .col-xs-10.col-xs-offset-1
        h1.special-h1.padding-bottom-s.text-center Brewery now
    .row.padding-bottom-m
      .col-xs-12.col-md-10.col-md-offset-1.text-justify
        p.lead Presently Pearla - Browary Lubelskie S. A. is one of the largest regional beer producers in Poland. The company includes: a production plant located at 106 Kunickiego Street and the seat of the Company's Management Board is located in the historical Brewery building at 15 Bernardynska Street in Lublin.
        p.lead In 2006, Pearl - Browary Lubelskie S. A. was one of the first breweries to receive the ISO 22000 certification. obtaining an accredited certificate from Loyd's Register Quality Assurance is a formal confirmation of the company's concern for the quality of its products. The introduced system was a development and improvement of the HACCP system operating in Brewery since 2002.
        p.lead In accordance with the quality policy established in the company, the basis of our operations is to take care production at every stage, to ensure that the consumers are provided with the safest product, meeting the highest possible standards. The recognition of the products offered by Pearla - Browary Lubelskie S. A. has been steadily increasing. As a result, distribution channels are constantly expanding into new markets.
  img.visible-xs-block(src='assets/img/img-history-now-xs.jpg', alt="Current Beer-house", width="100%")
  img.visible-sm-block(src='assets/img/img-history-now-sm.jpg', alt="Current Beer-house", width="100%")
  img.visible-md-block(src='assets/img/img-history-now-md.jpg', alt="Current Beer-house", width="100%")
  img.visible-lg-block(src='assets/img/img-history-now-lg.jpg', alt="Current Beer-house", width="100%")